<%include ../header %>

    <h1>hi</h1>
    <form action="/join/login" method="POST">
    <label for="userid" >아이디 : </label>
    <input type="email" name="userid">
    <label for="userpassword">비밀번호 : </label>
    <input type="password" name="password">
    <button type="submit">로그인</button>
    </form>
<% include ../footer%>